.haha{width:100px;height:100px;
background:url(cricle.png) -300px 0px;
/*background:pink;*/
border-radius: 50px;position:absolute;top:0px;}
.score{float: left;margin: 20px;}
body{font: 40px/100px 微软雅黑;color:pink;}
